
.empty{
background: none;
background-color: goldenr;
}

.mapboxgl-popup-content{
    background-position: 100%;
    background-image: url("/public/foam.gif");
    
}



.map-container {
    height: 500px;
    justify-self: center;
    }